.git
.gitignore

__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

runs/
preproc/
manifests/
splits/
labels_coco/
labels_debug/
preds/
preds_vis/
eval/
models/
wandb/

datasets/**
!datasets/**/*.py
!datasets/**/*.md
!datasets/**/*.txt
!datasets/**/*.csv
!datasets/**/*.json
!datasets/**/*.jsonl
!datasets/**/*.yaml
!datasets/**/*.yml
!datasets/**/LICENSE
