services:
  train:
    build: .
    gpus: all
    runtime: nvidia
    shm_size: "16gb"
    ipc: host
    volumes:
      - ./:/workspace
      - ./datasets:/workspace/datasets
      - ./kaggle.json:/root/.kaggle/kaggle.json
    working_dir: /workspace
    environment:
      - KAGGLE_CONFIG_DIR=/root/.kaggle
    tty: true
