# Data Download & Processing
requests
tqdm
kaggle
gdown
pandas
numpy
pyyaml
matplotlib
Pillow

# Deep Learning & Computer Vision
torch
torchvision
opencv-python
scikit-learn
timm
tensorboard
wandb
pytest
